<% provide(:user_active, 'active') %>
<% provide(:page_title, 'Edit User') %>

<div class="text-secondary">
<br>
<%= render 'form', user: @user %>

<%= link_to 'Show', @user, class: "btn btn-sm btn-secondary" %>

<br>
<br>

<%= link_to 'Back', users_path, class: "btn btn-sm btn-secondary" %>
</div>
