<div class="jumbotron text-secondary">
	<h1 class="display-4">Simple, Elegant, Awesome.</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in purus in urna egestas sagittis sit amet ac augue. Sed tincidunt ullamcorper sollicitudin. Sed non sodales urna.</p>
	<p class="lead">
		<%= link_to "Usuarios", users_path, class: "btn btn-primary btn-lg", "role" => "button" %>
	</p>
</div>