<% provide(:about_active, 'active') %>

<div class="text-secondary text-justify padding">
	<h1>Sterling Malory Archer</h1>
	<p>Sterling was born in 1948 in Tangier as the only child of Malory Archer, the retired agent-turned-director of the New York-based International Secret Intelligence Service (ISIS). The whereabouts of his biological father are unknown barring a fake identity conceived by Malory, though he briefly appears as a faceless figure in a dream sequence in the season four episode "Once Bitten", as Sterling hallucinates from a cobra bite. Sterling spent his youth at a boarding school, where he excelled at lacrosse. As a result, he was offered an athletic scholarship to Johns Hopkins University, but the offer falls through after Sterling is shot in the abdomen. Although not explicitly stated, a background photo in season two's "Placebo Effect" hints Sterling may have instead graduated from Georgetown University.</p>
</div>
