<div class="text-secondary">
	<img src="Archer.png" class="img-thumbnail" style="width: 287.5px; height: 287.5">
	<address>
		<strong>Sterling Malory Archer</strong>
		<br>Av. Xola 535, piso 11<br>Col. Del Valle<br>Benito Juárez, Ciudad de México<br>C.P. 03100<br>México
	</address>
</div>
